body{
    background-color: #a7d7c5 !important;
    height: 37rem;
    width: 100%;
    background-repeat: no-repeat;
}
/*
@media screen and (max-width:1000px){
    .container{
        margin-left: 20px !important;
        margin-right: 20px !important;
    }
}
*/
.box{
    position: fixed;
    height: 35vmax;
    width: 35vmax;
    background-color: #C1E3D6;
    margin: -14rem -7rem;
    transform: rotate(45deg);
    border-radius: 85px;
    z-index: -1;
}

#diger-box{
    margin: 15rem 60rem;
}

h3 {
    font-family: math;
    text-align: center;
}

p {
    font-family: math;
    margin-bottom: 0.3rem !important;
    margin-top: 1rem !important;
    margin-left: 0.5rem;
    color: #32403B;
}

li{
    font-family: math;
    font-size: 11px;
    padding-top: 9px;
    color: #32403B;
}

label {
    font-family: math;
    padding-right: 2.5rem;
    font-size: 14px;
    color: #32403B;
}

.sifre{
    width: 12.5rem;
}

.barbie{
    position: absolute;
    height: 20%;
    margin-left: 63rem;
    margin-top: 25rem;
}

input[type="radio"]{
    cursor: pointer;
    width: 1rem;
    height: 1rem;
    margin-top: 0.2rem !important;
    box-shadow: 0px 4px 4px 0px rgb(255 255 255);
}


.col-checkbox{
    display: flex;
    flex-direction: column;
    margin-left: 1.8rem;
    margin-top: 2rem !important;
}


.btn-primary:hover{
    background-color: #95d1ba !important;
    border: 1px solid #95d1ba !important;
    
    
}

.carpi:hover{
    background-color: #a7d7c557;
    border-radius: 5px;
}

.btn-primary{
    background-color: #84C7AE !important;
    border-color: #84C7AE !important;
    border-radius: 23rem !important;
    width: 10rem;
    height: 3rem;
    margin-top: 3rem !important;
    font-family: math !important;
    font-size: 22px !important;
}

.container{
    height: 33rem;
    width: 30rem !important;
    margin-top: 3rem;
    overflow-y: scroll;
    border-radius: 1.5rem;
    background: #F6FBF9;
    box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 30%);
}

input[type="password"]:invalid{
    box-shadow: inset 0px 0px 6px 0px rgb(255 0 0 / 30%), 0px 0px 3px 0px rgb(0 0 0 / 24%);
}


.outer{
    display: flex;
    flex-wrap: nowrap !important;
    flex-direction: column !important;
    align-items: center !important;
    margin-top: 3rem !important;
    height: 102rem;
    align-content: center;
}

.inner{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: fit-content !important;
}

.textbox{
    width: 15rem;
    height: 2.5rem;;
    padding: 0.4rem 1rem;
    margin-top: -1rem;
    background-color: #ffff;
    border-radius: 1.3rem;
    font-family: 'Times New Roman', Times, serif;
    border-color: transparent !important;
    box-shadow: 0px 0px 3px 0px rgb(0 0 0 / 24%);
}


.colon{
    display: flex;
    justify-content: start;
    padding-top: 1rem;
    align-items: baseline;
}



#psw{
    margin-bottom: -1rem;
}

::-webkit-scrollbar {
    width: 0.2rem;
    height: 10px;
    display: none;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 2rem;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#kadin{
    padding-right: 1rem;
}

.erkek-label{
    padding-left: 1rem;
    font-size: 16px;
}

.kadin-label{
    font-size: 16px;
}

#col-cinsiyet{
    margin-top: -0.3rem;
    margin-right: 2rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#file{
    opacity: 0;
    
}

#img-button{
    position: relative;
    width: 15rem;
    margin-left: 0.78rem;
    margin-bottom: -2.5rem;
    text-align: left;
    z-index: 0;
    color: #32403B;
}




input[type="checkbox"]{
    width: 14px;
    height: 14px;
    transform: translateY(-0.3em);
    margin-left: 13.9rem !important;
    cursor: pointer;
}

input[type="date"]:invalid{
    color: gray;
}


.bar{
    width: 28rem;
    height: 3rem;
    position: absolute;
    background: linear-gradient(0deg, rgba(250, 101, 238, 0) 5%, rgb(246 251 249) 93%);
    border-radius: 2rem;
}

.bar-2{
    width: 28rem;
    height: 3rem;
    position: absolute;
    background: linear-gradient(0deg, rgb(246 251 249) 5%, rgb(237 134 255 / 0%) 93%);
    border-radius: 2rem;
    margin-top: -75rem;
    
}


#sehir{
    width: 12.6rem;
    height: 2rem;
    border-width: 2px;
    border-style: inset;
    border-color: #dee2e6(rgb(118, 118, 118), rgb(133, 133, 133));
    cursor: pointer;
}


.box-label{
    margin-top: 1rem;
    width: 14rem;
    width: 16.8rem;
}

.carpi{
    height: 1.3rem !important;
    width: 1.3rem !important;
    position: absolute;
    margin-left: 26.5rem !important;
    margin-top: 1rem;
    background: url(./close-svgrepo-com.svg);
    background-size: cover;
    border: transparent;
}

.yildiz{
    margin-top: 1.5rem;
    font-size: 14px;
}



#tbl{
    border-collapse: collapse;
    width: 100%;
}

#tbl td, #tbl th{
    border: 1px solid #ddd;
    padding-right: 8px;
    padding-left: 8px;
}

#tbl th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

#tbl, td{
    background-color: #dee2e6;
}

.tbl-textbox:enabled{
    border: 2px solid aliceblue;
}

.tbl-textbox:disabled{
    background-color: transparent;
    border-color: transparent;
}

.accordion-body{
    overflow: scroll;
}

.edit-button {
    margin: 0.2rem;
    width: 4.5rem;
    font-size: 0.9rem;
}

#edit-button{
    background-color: #80e2a3;

}

#delete-button{
    background-color: #ff6262;
}

#delete-button:hover{
    background-color: red;
}

#edit-button:hover{
    background-color: #55d281;
}

.no{
    text-align: center;
}
